body {
    background-color: black;
}

.header {
    text-align: center;
}

h1 {
    font-family: "Permanent Marker", cursive;
}

h2 {
    color: yellow;
    font-style: italic;
}

.on-off {
    display: block;
    margin: auto;
}

.mealprep_project {
    border: solid white;
    text-align: center;
    padding-top: 25px;
}

.harveys_project {
    border: solid white;
    text-align: center;
    padding-top: 25px;
}

p {
    color: white;
}
.movie_project {
    border: solid;
}

.birthday_project {

}