body {
    background-color: black;
}

.header {
    text-align: center;
}

h1 {
    font-family: "Permanent Marker", cursive;
}

h2 {
    color: yellow;
    font-style: italic;
}

.open-close {
    display: block;
    margin: auto;
}

.two_projects {
    display: flex;
}

.mealprep_project {
    /* border: solid white; */
    text-align: center;
    padding-top: 25px;
    height: 300px;
    width: 200px;
}

.harveys_project {
    /* border: solid white; */
    text-align: center;
    padding-top: 25px;
    height: 300px;
    width: 200px;
}

p {
    color: white;
}
.movie_project {
    border: solid;
}

.birthday_project {

}