body {
    background-color: black;
}

.header {
    text-align: center;
}

h1 {
    font-family: "Permanent Marker", cursive;
}

h2 {
    color: yellow;
    font-style: italic;
}

.movie_project {
    border: solid;
}

.birthday_project {

}